# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.zip

# Maven
target/

# IDE specific
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
out/
bin/
nbproject/

# OS
.DS_Store
Thumbs.db

# Security
src/main/resources/db.properties